/* Gör så att boxarna blir korrekt storlek när man sätter storleken själv (sätts överst för att den inte ska ärvas) */
* {
    box-sizing: border-box;
}

body {
    background-color: #dfc4df;
    color: #000000;
    font-family: 'Doppio One', Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 2;
    margin: 20px;
}

header {
    background-color: #380369;
    color: rgb(12, 0, 0);
    padding: 1rem;
    text-align: center;
}

h1 {
    font-family: impact, sans-serif;
    color: #380369;
    font-size: 5rem;
    line-height: 1;
}
h2 {
    font-family: 'Doppio One', Arial, sans-serif;
    color: #380369;
    font-size: 2.5rem;
    line-height: 1.2;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    color:rgb(7, 0, 0);
    margin-block-start: 20px;
    margin-block-end: 20px;
}

img {
    border: 15px rgb(0, 0, 0) dotted;
    padding: 10px;
}
img[alt="logotyp alexandra"] {
    border: none;
}

form {
    background-color: #f15795;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #380369;
    max-width: 400px;
    margin: 0 auto;
}

table {
    /* collapse gör att det blir enkla streck emellan istället för dubbla som är default*/
    border-collapse: collapse;
    /* gör att tabellen blir mer förutsägbar, t.ex att cellerna anpassar sig mer efter rubrikerna än innehållet */
    table-layout: fixed;
    border: 1px solid #380369;
    width: 100%;
}

th, 
td {
    border: 1px solid #380369;
    padding: 0.7em;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f15795;
}

tr:nth-child(odd) {
    background-color: pink;
}

/* gör att form och annat som inte som default äver egenskaper gör det nu */
button, 
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

footer {
    background-color: #380369;
    text-align: start;
    padding: 10px;
}

